
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Item</th>
      <th>Valor un.</th>
      <th>Qtd</th>
      <th>Subtotal</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let list of products">
        <td>{{list.product_name}}</td>
        <td>{{list.product_price | currency: 'BRL'}}</td>
        <td>
          {{list.product_quality}}
          <button class="btn btn-success btn-xs plus" (click)="add(list.product_id)"><i class="glyphicon glyphicon-plus"></i></button>
          <button class="btn btn-danger btn-xs minus" (click)="del(list.product_id)"><i class="glyphicon glyphicon-minus"></i></button>
        </td>
        <td>
          {{list.product_subtotal | currency: 'BRL'}}
          <button class="btn btn-danger btn-sm" (click)="delproduct(list.product_id)">Delete</button>
        </td>
      </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>Total Price</td>
      <td colspan="6" class="text-right">{{total | currency: 'BRL' }}</td>
    </tr>
  </tfoot>
</table>

<app-pagamento></app-pagamento>
