<table class="table table-bordered">
    <thead>
      <tr>
        <th>Comanda 1</th>
        <th>Mesa</th>
        <th>Atendente</th>
        <th>Nº clientes</th>
      </tr>
    </thead>
    <tbody>
  <tr>
    <td>
      15:50h
    </td>
    <td>
      8
    </td>
    <td>
      Thanos
    </td>
    <td>
      1
    </td>
  </tr>
  </tbody>
</table>
  

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Item</th>
      <th>Valor un.</th>
      <th>Qtd</th>
      <th>Subtotal</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let list of products">
        <td>{{list.product_name}}</td>
        <td>{{list.product_price | currency: 'BRL'}}</td>
        <td>
          {{list.product_quality}}
          <button class="btn btn-success btn-xs plus" (click)="add(list.product_id)">+</button>
          <button class="btn btn-danger btn-xs minus" (click)="del(list.product_id)">-</button>
        </td>
        <td>
          {{list.product_subtotal | currency: 'BRL'}}
          <i class="fa fa-trash" aria-hidden="true" (click)="delproduct(list.product_id)"></i>

          
        </td>
      </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>Total parcial</td>
      <td colspan="6" class="text-right">{{total | currency: 'BRL' }}</td>
    </tr>
  </tfoot>
</table>

<app-pagamento [recebeProdutos]="products" ></app-pagamento>
