<nav>
  <li>
    <a href="#">
      <i class="fa fa-angle-left"></i>
      Starred
    </a>
  </li>
</nav>

<nav class="sidemenu">
  <div class="top">
    <div class="arrow">
      <i class="fa fa-angle-left"></i>
    </div>
  </div>

  <li class='active'><a href="#" class="icon cart">Caixa<span class='status'>aberto</span></a></li>

  <li><a href="#" class="icon beer">Produtos</a></li>
  <li><a href="#" class="icon wallet">Relatórios</a></li>
  <li><a href="#" class="icon cog">Configurações</a></li>
  <li><a href="#" class="icon question">Suporte</a></li>

</nav>